
location /{{ service_uri }}/ {
  set        {{ openid_user_pod }} "";
  set        $upstream {{ server_url }};
  proxy_pass $upstream;

  include {{ includes_path_openidc_conf_path }};
  include {{ includes_path_reverse_proxy_conf }};
}