log_format requestLogFormat "[$time_iso8601 - nginx $nginx_version] $server_name ($server_addr) $realpath_root => $proxy_add_x_forwarded_for:$remote_port ($server_protocol - $request_method) to $scheme://$host:$server_port$request_uri";
access_log /var/log/nginx/access.log requestLogFormat;

{% if reverse_proxy_enable_web_socket %}
map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}
{% endif %}

server {
  listen {{ server_firewall_port }} ssl;

  server_name   {{ fqdn_server }};
  server_tokens off;

  ssl_certificate        {{ server_cert_file_path }};
  ssl_certificate_key    {{ server_key_file_path }};
  ssl_dhparam            {{ server_dh_file_path }};
  ssl_client_certificate {{ server_ca_cert_file_path }};

  resolver {{ service_network_dns }} valid=5s;
  resolver_timeout 5s;

  #ssl_protocols             TLSv1.3;
  ssl_prefer_server_ciphers on;
  ssl_ciphers               EECDH+AESGCM:EDH+AESGCM;
  ssl_ecdh_curve            secp384r1;
  ssl_session_timeout       10m;
  ssl_session_cache         shared:SSL:10m;
  ssl_session_tickets       off;
  ssl_stapling              off;
  ssl_stapling_verify       on;
  ssl_trusted_certificate   {{ ssl_ca_certificates_path }};
  ssl_ocsp                  off;

  # Disable strict transport security for now. You can uncomment the following
  # line if you understand the implications.
  #add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";

  # X-Frame-Options (deprecated): https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options
  # X-XSS-Protection (non-standard): https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection

  # add_header 'Access-Control-Allow-Origin' 'https:// domain ';
  add_header X-Content-Type-Options nosniff;

  # Disable site caching
  expires    0;
  add_header Cache-Control private;

  root /usr/share/nginx/html;

{% if deny_root_uri_location %}
  location ~* ^/(?!style\.css)$ {
    return 403;
  }

  location ~* ^/style\.css$ {
    return 200;
  }
{% endif %}

  include {{ includes_locations_config_path }};

  include {{ includes_html_error_pages_conf_path }};
}