GF_SERVER_DOMAIN={{ server_domain }}
GF_SERVER_PROTOCOL=https
#GF_SERVER_ENFORCE_DOMAIN=true
GF_SERVER_ROOT_URL={{ https_root_url }}
GF_SERVER_SERVE_FROM_SUB_PATH=true

GF_DATABASE_TYPE=postgres
GF_DATABASE_HOST={{ host_with_port }}
GF_DATABASE_NAME={{ pgsql_db }}
GF_DATABASE_USER={{ pgsql_user }}
GF_DATABASE_PASSWORD={{ lookup('user_account_password', pgsql_password_file_path) }}
GF_DATABASE_URL=postgres://{{ pgsql_user }}:{{ lookup('admin_account_password', pgsql_password_file_path) }}@{{ host_with_port }}/{{ pgsql_db }}

GF_SECURITY_ADMIN_USER={{ admin_user }}
GF_SECURITY_ADMIN_PASSWORD={{ lookup('admin_account_password', admin_user_password_file_path) }}
GF_SECURITY_ADMIN_EMAIL={{ admin_email }}
GF_SECURITY_COOKIE_SECURE=true
GF_SECURITY_STRICT_TRANSPORT_SECURITY=true

GF_AUTH_DISABLE_LOGIN_FORM=true

GF_AUTH_GENERIC_OAUTH_ENABLED=true
GF_AUTH_GENERIC_OAUTH_NAME=Collabsuite
GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=true
GF_AUTH_GENERIC_OAUTH_AUTO_LOGIN=true
GF_AUTH_GENERIC_OAUTH_CLIENT_ID={{ openid_client_id }}
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET={{ lookup('openid_client_password', openid_client_secret_file_path) }}
GF_AUTH_GENERIC_OAUTH_SCOPES="{{ openid_scopes }}"
GF_AUTH_GENERIC_OAUTH_EMAIL_ATTRIBUTE_PATH=email
GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH=username
GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH=full_name
GF_AUTH_GENERIC_OAUTH_AUTH_URL={{ openid_auth_url }}
GF_AUTH_GENERIC_OAUTH_TOKEN_URL={{ openid_token_url }}
GF_AUTH_GENERIC_OAUTH_API_URL={{ openid_api_url }}
GF_AUTH_GENERIC_OAUTH_USE_REFRESH_TOKEN=true
GF_AUTH_GENERIC_OAUTH_USE_PKCE=true