# See: https://docs.ansible.com/ansible/latest/reference_appendices/config.html
[defaults]
roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:./roles/collaboration_spaces:./roles/common:./roles/data_sources:./roles/platform_technologies:./roles/servers:./roles/tools:./roles/web_pages
remote_user = ansible
interpreter_python = /usr/bin/python3
callbacks_enabled = timer, profile_tasks, profile_roles

[inventory]
cache=True

[ssh_connection]
transfer_method = smart