location ~* ^/{{ service_uri }}/(realms|resources)/.*$ {
  set        $workerPod {{ server_url }};
  proxy_pass $workerPod;
  include    {{ reverse_proxy_conf_path }};
}

location ~* ^/{{ service_uri }}(|/|/admin|/metrics|/health) {
  deny {{ ext_gw_ip }};
  set        $workerPod {{ server_url }};
  proxy_pass $workerPod;
  include    {{ reverse_proxy_conf_path }};
}

location / {
  return 301 /{{ service_uri }};
}