location /{{ service_uri }}/ {
  set        {{ openid_user_pod }} "";
  set        $upstream {{ server_url }};
  rewrite    ^/{{ service_uri }}(/.*)$ $1 break;
  proxy_pass $upstream;
  include    {{ includes_path_reverse_proxy_conf }};
}