location /{{ service_uri }}/ {
  set        {{ openid_user_pod }} "";
  rewrite    ^/{{ service_uri }}(/.*)$ $1 break;
  proxy_pass {{ server_url }};
  include    {{ includes_path_reverse_proxy_conf }};
}