access_by_lua_block {
  local opts = {
    redirect_uri = "{{ openid_redirect_uri }}",
    discovery = "{{ openid_discovery_uri }}",
    token_endpoint_auth_method = client_secret_post,
    client_id = "{{ openid_client_id }}",
    client_secret = "{{ lookup('openid_client_password', openid_client_secret_file_path) }}",
    ssl_verify = "true",
    redirect_uri_scheme = "https",
    logout_path = "/logout",
    response_mode = form_post,
    use_nonce = true,
    revoke_tokens_on_logout = true,
    scope = "openid email profile",
    renew_access_token_on_expiry = true,
    access_token_expires_in = 3660,
    accept_unsupported_alg = false,
    accept_none_alg = false,
    session_contents = { id_token = true, access_token = true }
}

{% if openid_client_enable_login %}
  -- decision: redirect any unauthenticated requests to openid login
  local res, err = require("resty.openidc").authenticate(opts)

  if err then
    ngx.status = ngx.HTTP_FORBIDDEN
    ngx.log(ngx.ERR, err)
    ngx.exit(ngx.HTTP_FORBIDDEN)
  end

  ngx.req.set_header("Authorization", "Bearer " .. res.access_token)
  ngx.log(ngx.INFO, "Client login: " .. res.id_token.email .. " (" .. res.id_token.sub .. ")")
{% endif %}
}