location / {
  try_files $uri $uri/index.html =403;
  include {{ includes_path_openidc_conf_path }};
}

{% for service in upstream_services %}
location /{{ service.location_uri }}/ {
  set        $upstream {{ service.upstream_url }};
{% if service.url_rewrite %}
  rewrite ^/{{ service.location_uri }}(/.*)$ $1 break;
{% else %}
  proxy_pass $upstream;

  client_max_body_size {{ service.max_body_size_in_megabytes }}m;

  include {{ includes_path_openidc_conf_path }};
  include {{ includes_path_reverse_proxy_conf }};
}
{% endif %}

{% endfor %}